@import "helpers/index";
@import "ui/index";
@import "pages/index";
@import "widgets/index";

body {
	font-size: rem(16px);
	min-width: 320px;
	position: relative;
	line-height: 1.3;
	@include main-font(400);
	overflow-x: hidden;
}

@import "helpers/media";
// Always end
