@import "../helpers/index";

.container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 6rem);
  margin: auto;
  &--kit {
    width: 90%;
  }
}
.row {
  display: flex;
  &__jc {
    &-sb {
      justify-content: space-between;
    }
  }
  &__ai {
    &-center {
      align-items: center;
    }
  }
  &--fixed {
    width: rem(1470px);
    margin: auto;
  }
}
