@import "../helpers/index";

.container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 6rem);
  margin: auto;
  @include screen-lt(mobile) {
    width: 100%;
  }
  &--kit {
    width: 90%;
  }
  &--content {
    width: rem(1230px);
    padding: rem(0 15px);
    @include screen-lt(tablet) {
      width: 100%;
    }
    &-small {
      width: rem(900px);
    }
  }
  &--filter {
    width: rem(1525px);
    margin: auto;
    padding-top: rem(40px);
    @include screen-lt(desktop-large) {
      width: rem(1475px);
    }
    @include screen-lt(desktop-small) {
      width: 100%;
      position: relative;
      padding-top: 0;
    }
  }
}
.row {
  display: flex;
  &.tc-show-992 {
    display: none;
    @include screen-lt(tablet) {
      display: block !important;
    }
  }
  &__jc {
    &-sb {
      justify-content: space-between;
    }
    &-md-2 {
      >* {
        width: 50% !important;
        display: flex;
        margin-right: rem(30px) !important;
        &:last-child {
          margin-right: 0 !important;
        }
      }
    }
  }
  &__ai {
    &-center {
      align-items: center;
    }
  }
  &--fixed {
    width: rem(1470px);
    margin: auto;
    @include screen-lt(desktop-large) {
      width: 90%;
    }
  }
  &--wrap {
    flex-wrap: wrap;
  }
}
