@import "../helpers/index";

.description {
  margin: 5px 0;
  &--kit {
    color: $grey;
    font-size: 14px;
  }
  &--sm {
    color: $black;
    font-size: 12px;
  }
  &__align {
    &--center {
      text-align: center;
    }
  }
}


