@import "../helpers/index";

h1 {
  font-size: rem(72px);
}
h2 {
  font-size: rem(48px);
}
h3 {
  font-size: rem(36px);
}
h4 {
  font-size: rem(28px);
  @include main-font(700);
  letter-spacing: rem(4px);
}
h5 {
  font-size: rem(20px);
  @include main-font(600);
  line-height: 1.35;
}

.category__title {
  position: relative;
  letter-spacing: normal;
  @include main-font(600);
  width: max-content;
  margin-bottom: rem(20px);
}


