@import "../helpers/index";

h1 {
  font-size: rem(72px);
}
h2 {
  font-size: rem(48px);
}
h3 {
  font-size: rem(36px);
}
h4 {
  font-size: rem(28px);
  @include main-font(700);
  letter-spacing: rem(4px);
}


