@import "../helpers/index";

.catalog {
  display: flex;
  height: 100%;
  position: relative;
  width: rem(250px);
  @include screen-lt(tablet) {
    width: rem(200px);
    position: static;
  }
  @include screen-lt(mobile) {
    width: rem(60px);
  }
  &__button, &__button--mobile {
    background-color: $brilliant;
    height: 100%;
    width: 100%;
    border: none;
    @include main-font(700);
    font-size: rem(14px);
    color: $white;
    padding-left: rem(25px);
    position: relative;
    @include before('../../../img/icon/menu.svg', 18px, 13px, 33px, auto, auto, 55px);
    @include after('../../../img/icon/more-white.svg', 9px, 5px, 37px, 25px, auto, auto);
    @include screen-lt(tablet) {
      padding-left: 0;
      &:before {
        left: rem(30px);
        top: rem(34px);
      }
      &:after {
        width: rem(14px);
        height: rem(7px);
        right: rem(28px);
      }
    }
    @include screen-lt(mobile) {
      &:after {
        display: none;
        position: static;
      }
      &:before {
        left: rem(23px);
        top: rem(23px);
      }
    }
  }
  &__menu {
    position: absolute;
    width: rem(270px);
    background-color: $white;
    box-shadow: rem(0 0 15px 5px rgba(227, 227, 227, 0.5));
    top: rem(80px);
    z-index: 2;
    display: none;
    &.show {
      display: block;
    }
  }
  &__link {
    height: rem(65px);
    display: flex;
    color: $black;
    text-decoration: none;
    align-items: center;
    @include main-font(400);
    font-size: rem(14px);
    position: relative;
    padding: rem(0 25px);
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: rem(20px);
      margin-top: rem(-2px);
      transform: rotate(-90deg);
      height: 0;
      width: 0;
      border: rem(3.1px solid transparent);
      border-top-color: $black;
    }
    &--inner {
      width: rem(270px);
      &:after {
        position: static;
        border: none;
      }
    }
    &:hover {
      color: $brilliant;
      &:after {
        border-top-color: $brilliant;
      }
    }
  }
  &__item {
    border-bottom: rem(0.5px solid #e6e6e6);
  }
  &__inner {
    &-list {
      height: rem(790px);
      background-color: $white;
      flex-direction: column;
      box-shadow: 0 0 15px 5px rgba(227, 227, 227, 0.5);
      flex-wrap: wrap;
    }
    &-item {
      background-color: $white;
    }
  }
}


.catalog__menu--mobile {
  display: none;
  position: static;
  width: rem(550px);
  margin: auto;
  &.shown {
    display: block;
  }
  .catalog__item {
    border: none;
  }
  .catalog__link {
    background-color: $brilliant;
    width: rem(550px);
    margin: auto;
    height: rem(50px);
    padding: rem(0 35px);
    display: flex;
    border-top: rem(1px solid #f9f9f9);
    font-size: rem(14px);
    align-items: flex-start;
    color: $white;
    @include main-font(600);
    position: relative;
    @include screen-lt(mobile-custom) {
      width: 90%;
    }
    &:after {
      right: rem(25px);
      background-repeat: no-repeat;
      top: rem(22px);
      border: none;
      content: '';
      position: absolute;
      background-image: url('../../img/icon/more-white.svg');
      width: rem(14px);
      height: rem(7px);
      background-size: contain;
    }
  }
  .catalog__inner-list {
    position: static;
    width: 100%;
    margin-left: 0;
    flex-wrap: nowrap;
    opacity: .8;
  }
}

.catalog__button--mobile {
  &.show {
    &:before {
      background-image: url('../../img/icon/close-white.svg');
      background-size: contain;
    }
  }
}
