@import "../helpers/index";

.dropdown {
  position: absolute;
  top: rem(90px);
  right: 0;
  z-index: 2;
  background-color: $white;
  display: none;
  border-top: none;
  box-shadow: rem(0 0 15px 0 rgba(227, 227, 227, 0.5));
  width: rem(390px);
  &:before {
    content: '';
    position: absolute;
    top: rem(-10px);
    right: rem(15px);
    width: rem(20px);
    height: rem(20px);
    background-color: $white;
    transform: rotate(45deg);
  }
  &__item {
    border-bottom: rem(1px solid $light);
    padding: rem(25px);
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      .dropdown__title {
        color: $brilliant;
      }
    }
  }
  &__img {
    max-width: rem(60px);
    max-height: rem(60px);
    &-container {
      width: rem(60px);
      margin-right: rem(5px);
    }
  }
  &__title {
    font-size: rem(14px);
    color: $black;
    @include main-font(400);
  }
  &__description {
    color: $grey;
    line-height: 1.5;
    margin-top: rem(3px);
    font-size: rem(12px);
    max-width: rem(260px);
    @include main-font(400);
  }
  &__button {
    font-size: rem(12px);
    @include main-font(400);
    color: $cyan;
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    padding: rem(25px 0);
  }
  &.show {
    display: block;
  }
  &__close {
    width: rem(6px);
    height: rem(7px);
    margin: 0;
    border: none;
    background-image: url('../../assets/icon/close-cyan.svg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    right: rem(25px);
    top: rem(33px);
    &:hover {
      opacity: .8;
    }
  }
}
