@import "../helpers/index";

.pagination {
  display: flex;
  margin-top: rem(25px);
  &__item {
    list-style-type: none;
    &:last-child {
      .pagination__link {
        color: $brown;
      }
    }
  }
  &__link {
    font-size: rem(20px);
    @include main-font(600);
    color: #b7b7b7;
    text-decoration: none;
    padding: rem(2.5px);
    &--active {
      color: $brilliant;
    }
    &:hover {
      color: $brilliant;
      opacity: .5;
    }
  }
}
