@import "../helpers/index";

.timer {
  box-shadow: rem(0 0 15px 0 rgba(227, 227, 227, 0.5));
  height: rem(140px);
  width: rem(440px);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  &__heading {
    font-size: rem(24px);
    @include main-font(600);
    margin-bottom: rem(10px);
  }
  &__area {
    display: flex;
    align-items: center;
  }
  &__item {
    font-size: rem(30px);
    color: $black;
    @include main-font(600);
    &-container {

    }
  }
  &__description {
    font-size: rem(10px);
    @include main-font(600);
    color: $black;
    text-align: center;
    &-minutes {
      color: $brilliant;
    }
  }
  &__minutes {
    color: $brilliant;
  }
}
