

.listing {
  @include screen-lt(desktop-large) {
    .product {
      width: rem(270px);
    }
  }
  @include screen-lt(desktop-small) {
    width: rem(1230px);
    margin: auto;
    .product {
      width: rem(285px);
    }
  }
  @include screen-lt(tablet) {
    width: rem(620px);
  }
  @include screen-lt(mobile-custom) {
    width: 100%;
  }
  &__topbar {
    .select2-container {
      width: rem(150px) !important;
    }
    @include screen-lt(desktop-small) {
      display: flex;
      align-items: center;
      padding: rem(0 15px);
      > div {
        margin-right: rem(20px);
      }
    }
    @include screen-lt(mobile-custom) {
      flex-direction: column;
      > div {
        margin-right: 0;
      }
    }
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    .product {
      margin: rem(12.5px) !important;
      &:nth-child(4n+4) {
        margin-right: 0 !important;
        @include screen-lt(tablet) {
          margin-right: rem(12.5px) !important;
        }
      }
    }
    @include screen-lt(mobile-custom) {
      width: rem(285px);
      margin: auto;
    }
  }
  &__footer {
    margin-top: rem(100px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: rem(100px);
    >* {
      margin: auto;
    }
  }
}

.filters__mobile {
  @include main-font(600);
}

