@import '../helpers/index';

.header {
  padding: rem(27px 0 20px 0);
  @include screen-lt(mobile) {
    padding: 0;
    height: rem(60px);
    .container {
      height: 100%;
      margin: 0;
    }
    .row {
      height: 100%;
    }
  }
  &__column {
    display: flex;
    align-items: center;
    @include screen-lt(mobile) {
      height: 100%;
      &:last-child {
        justify-content: flex-end;
        margin-right: rem(30px);
      }
    }
  }
  &__logo {
    width: rem(280px);
    height:  rem(40px);
    margin-right: rem(25px);
    display: flex;
    @include screen-lt(desktop-large) {
      width: rem(205px);
      height: rem(30px);
    }
    @include screen-lt(mobile) {
      width: rem(100px);
      height: rem(15px);
      margin-left: rem(10px);
    }
    @include screen-lt(mobile) {
      width: rem(90px);
      margin-right: rem(15px);
    }
  }
  &__img {
    height:  100%;
    width: 100%;
  }
  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-img {
      max-width: rem(24px);
      margin: auto;
    }
    &-item {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: rem(0 25px);
      position: relative;
      &:nth-child(3) {
        .header__controls-img {
          max-width: rem(30px);
        }
      }
      @include screen-lt(desktop-large) {
        margin: rem(0 15px);
      }
      @include screen-lt(tablet) {
        margin: rem(0 22px);
      }
      @include screen-lt(mobile) {
        margin: rem(0 13px);
        &:first-child {
          display: none;
        }
      }
      @include screen-lt(mobile-custom) {
        &:nth-child(2) {
          .dropdown {
            right: rem(-120px);
            &:before {
              right: rem(125px);
            }
          }
        }
        &:nth-child(3) {
          .dropdown {
            right: rem(-70px);
            &:before {
              right: rem(75px);
            }
          }
        }
        &:nth-child(4) {
          .dropdown {
            right: rem(-30px);
            &:before {
              right: rem(30px);
            }
          }
        }
      }
      @include screen-lt(mobile-small) {
        &:nth-child(2) {
          .dropdown {
            right: rem(-100px);
            &:before {
              right: rem(100px);
            }
          }
        }
        &:nth-child(3) {
          .dropdown {
            right: rem(-55px);
            &:before {
              right: rem(60px);
            }
          }
        }
        &:nth-child(4) {
          .dropdown {
            right: rem(-15px);
            &:before {
              right: rem(10px);
            }
          }
        }
      }
      @include screen-lt(mobile-custom) {
        margin: rem(0 10px);
      }
    }
    &-link {
      display: flex;
      justify-content: center;
      text-decoration: none;
      flex-direction: column;
    }
    &-indicate {
      position: absolute;
      right: rem(-5px);
      top: rem(5px);
      color: $orange;
      font-size: rem(14px);
      @include main-font(400);
      @include screen-lt(tablet) {
        right: rem(-20px);
      }
    }
    &-description {
      font-size: rem(14px);
      padding: rem(15px 0 0 0);
      @include main-font(400);
      color: $cyan;
      @include screen-lt(tablet) {
        display: none;
      }
    }
  }
  &__search {
    @include screen-lt(tablet) {
      display: none;
    }
  }
}

.menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: rem(80px);
  box-shadow: rem(0 0 15px 0 rgba(227, 227, 227, 0.5));
  background-color: #ecf1f5;
  @include screen-lt(tablet) {
    position: relative;
  }
  &__column {
    display: flex;
  }
  &__list {
    display: flex;
    height: 100%;
    &.tc-show-1200 {
      display: flex;
    }
  }
  &__item {
    list-style-type: none;
    height: 100%;
  }
  &__link {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: rem(0 25px);
    @include main-font(700);
    font-size: rem(14px);
    color: $cyan;
    &:hover {
      color: $brilliant;
    }
    @include screen-lt(desktop-large) {
      padding: rem(0 15px);
    }
  }
}

.currency {
  display: flex;
  margin-right: rem(70px);
  @include screen-lt(tablet) {
    margin-right: rem(35px);
  }
  &__item {
    @include main-font(500);
    text-transform: uppercase;
    font-size: rem(14px);
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    color: $cyan;
    text-decoration: none;
    &--checked {
      opacity: .5;
    }
    &--separator {
      position: relative;
      top: rem(-1px);
      padding: rem(0 2px);
    }
  }
}

.advantages {
  margin: rem(105px 0);
  @include screen-lt(tablet) {
    width: rem(600px);
    margin: auto;
  }
  &__list {
    display: flex;
    justify-content: center;
    @include screen-lt(tablet) {
      flex-wrap: wrap;
    }
  }
  &__img {
    max-width: rem(60px);
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
  &__item {
    box-shadow: rem(0 0 15px 0 rgba(227, 227, 227, 0.5));
    width: rem(280px);
    height: rem(230px);
    flex-direction: column;
    padding: rem(0 20px);
    display: flex;
    justify-content: center;
    margin: rem(0 12.5px);
    list-style-type: none;
    @include first-last;
    @include screen-lt(tablet) {
      margin-bottom: rem(25px);
      &:nth-child(2) {
        margin-right: 0;
      }
      &:nth-child(3) {
        margin-left: 0;
      }
    }
  }
  &__description {
    text-align: center;
    padding: rem(15px 0);
    @include main-font(600);
    font-size: rem(20px);
    color: $cyan;
    line-height: 1.2;
  }
  &__info {
    text-align: center;
    @include main-font(400);
    font-size: rem(12px);
    color: $grey;
    line-height: 1.5;
  }
}

.sales {
  &__counter {
    font-size: rem(20px);
    color: $lightRed;
    @include main-font(600);
    position: absolute;
    top: 0;
    right: rem(-20px);
    @include screen-lt(mobile-custom) {
      font-size: rem(16px);
    }
  }
}
.content {
  margin: rem(100px 0);
  @include screen-lt(tablet) {
    margin: rem(50px 0);
  }
}

.news {
  @include screen-lt(mobile-custom) {
    padding: rem(0 15px);
  }
  .post {
    width: calc(100%/5);
    overflow: hidden;
    @include screen-lt(desktop-small) {
      width: calc(100%/4);
      &:nth-child(5) {
        display: none;
      }
    }
    @include screen-lt(tablet) {
      width: calc(100%/2);
      &:nth-child(3), &:nth-child(4), &:nth-child(5) {
        display: none;
      }
    }
    @include screen-lt(mobile-custom) {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: rem(25px);
    }
  }
  .button {
    margin: rem(40px) auto;
    @include screen-lt(mobile-custom) {
      margin: rem(25px) auto;
    }
  }
  .row {
    @include screen-lt(mobile-custom) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
}

.footer {
  box-shadow: rem(0 0 15px 0 rgba(227, 227, 227, 0.5));
  padding: rem(40px 0);
  .row {
    justify-content: space-between;
    @include screen-lt(mobile-custom) {
      display: none;
    }
  }
  &__mobile {
    display: none;
    padding: rem(0 15px);
    @include screen-lt(mobile-custom) {
      display: block;
    }
  }
  &__column {
    display: flex;
    flex-direction: column;
    h6 {
      margin-bottom: rem(25px);
      margin-top: rem(15px);
    }
    &--basis {
      width: rem(475px);
    }
  }
  &__img {
    width: rem(280px);
    height: rem(40px);
    @include screen-lt(mobile-custom) {
      margin-bottom: rem(25px);
    }
  }
  &__description {
    color: $black;
    font-size: rem(14px);
    line-height: 1.43;
    @include main-font(400);
    &--margin {
      margin: rem(25px 0 40px 0);
      @include screen-lt(mobile-custom) {
        display: none;
      }
    }
  }
  &__email {
    color: $black;
    font-size: rem(16px);
    @include main-font(700);
    text-decoration: none;
  }
  &__phone {
    color: $black;
    @include main-font(600);
    font-size: rem(16px);
    margin-top: rem(15px);
    &-description {
      color: $grey;
      font-size: rem(12px);
      line-height: 1.5;
    }
  }
  &__menu {
    &-item {
      font-size: rem(14px);
      line-height: 1.43;
      color: $black;
      margin-bottom: rem(10px);
      @include main-font(400);
      list-style-type: none;
    }
    &-link {
      color: $black;
      text-decoration: none;
    }
  }
  &__pay {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    &-item {
      margin: rem(0 20px);
      @include first-last;
      &:last-child {
        margin-left: 0;
        margin-top: rem(20px);
      }
    }
  }

  &__policy {
    text-align: center;
    color: $grey;
    line-height: 1.79;
    @include main-font(300);
    margin-top: rem(30px);
    font-size: rem(14px);
    @include screen-lt(mobile-custom) {
      padding: rem(0 15px);
    }
  }
}

.slick-prev {
  @include screen-lt(desktop-large) {
    left: 0 !important;
  }
}
.slick-next {
  @include screen-lt(desktop-large) {
    right: 0 !important;
  }
}

.menu__button--mobile {
  background-color: $brilliant;
  width: rem(550px);
  margin: auto;
  height: rem(50px);
  padding: rem(0 35px);
  display: flex;
  font-size: rem(14px);
  align-items: center;
  color: $white;
  @include main-font(600);
  border: none;
  position: relative;
  @include screen-lt(mobile-custom) {
    width: 90%;
  }
  &:after {
    right: rem(25px);
    background-repeat: no-repeat;
    top: rem(22px);
    content: '';
    position: absolute;
    background-image: url('../../img/icon/more-white.svg');
    width: rem(14px);
    height: rem(7px);
    background-size: contain;
  }
}

.menu__mobile {
  position: absolute;
  width: 100%;
  background-color: $white;
  padding-top: rem(25px);
  box-shadow: rem(0 0 15px 5px rgba(227, 227, 227, 0.5));
  top: rem(155px);
  display: none;
  z-index: 10;
  @include screen-lt(mobile) {
    top: rem(60px) !important;
  }
  &.show {
    display: block;
  }
  .search {
    margin-bottom: rem(25px);
  }
  .menu__list {
    width: 100%;
    flex-direction: column;
  }
  .menu__link {
    width: rem(550px);
    margin: auto;
    height: rem(65px);
    display: flex;
    color: $black;
    justify-content: flex-start;
    font-size: rem(14px);
    @include main-font(400);
    position: relative;
    @include screen-lt(mobile-custom) {
      width: 90%;
    }
    &:hover {
      color: $brilliant;
      &:after {
        border-top-color: $brilliant;
      }
    }
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 1.25rem;
      margin-top: -.125rem;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      height: 0;
      width: 0;
      border: .19375rem solid transparent;
      border-top-color: #1f1f1f;
    }
  }
  .menu__item {
    border-bottom: 1px solid #e6e6e6;
  }
}

.sales {
  .sales__slider, .new-offers__slider, .recent-products__slider, .additional-products__slider, .brands__slider {
    .slick-next {
      right: rem(-65px) !important;
    }
    .slick-prev {
      left: rem(-65px) !important;
    }
    @include screen-lt(desktop-large) {
      width: rem(1300px);
      margin: auto;
      .slick-next {
        right: rem(-45px) !important;
      }
      .slick-prev {
        left: rem(-45px) !important;
      }
    }
    @include screen-lt(tablet) {
      width: rem(600px);
      margin: auto;
    }
    @include screen-lt(mobile-custom) {
      width: rem(340px);
      margin: auto;
    }
    @include screen-lt(mobile-small) {
      width: rem(320px);
      margin: auto;
    }
  }
}
.footer__column {
  &.tc-show-992 {
    margin-top: rem(20px);
    display: none;
    @include screen-lt(tablet) {
      display: block;
    }
  }
}

.slick-slide img {
  @include screen-lt(tablet) {
    max-width: rem(300px);
    max-height: rem(300px);
  }
}

.brands {
  margin-bottom: rem(40px);
  &__item {
    background-color: $white;
    width: rem(260px);
    display: flex !important;
    margin: rem(20px 0);
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px 0 rgba(227, 227, 227, 0.5);
    height: rem(80px);
  }
  &__img {
    min-width: rem(140px) !important;
    min-height: rem(34px) !important;
    max-width: rem(140px) !important;
    max-height: rem(34px) !important;
  }
  .sales__counter {
    right: rem(-60px);
  }
  .slick-next {
    right: rem(-80px);
  }
  .slick-prev {
    left: rem(-80px);
  }
}


