@import '../helpers/index';

.ui__item {
  margin: rem(20px 0);
}
.ui__colors {
  display: flex;
  &-item {
    list-style-type: none;
    border: rem(1px solid $light);
    height: rem(155px);
    width: calc(100%/10);
    margin: rem(10px 5px);
    border-radius: rem(2px);
    padding: rem(10px);
    @include first-last;
  }
  &-child {
    width: 100%;
    height: rem(110px);
    border-radius: rem(2px);
    &--light {
      background-color: $light;
    }
    &--grey {
      background-color: $grey;
    }
    &--cyan {
      background-color: $cyan;
    }
    &--brown {
      background-color: $brown;
    }
    &--black {
      background-color: $black;
    }
    &--blue {
      background-color: $blue;
    }
    &--lightRed {
      background-color: $lightRed;
    }
    &--brilliant {
      background-color: $brilliant;
    }
    &--orange {
      background-color: $orange;
    }
    &--red {
      background-color: $red;
    }
  }
}

.ui__fonts {
  display: flex;
  &-item {
    margin: rem(10px 5px);
    @include first-last;
  }
  &-child {
    &--black {
      @include main-font(800);
    }
    &--bold {
      @include main-font(700);
    }
    &--semi {
      @include main-font(600);
    }
    &--regular {
      @include main-font(400);
    }
    &--light {
      @include main-font(300);
    }
  }
}
