//base colors

$white: #ffffff;
$light: #e3e3e3;
$grey: #aaaaaa;
$cyan: #4b6584;
$brown: #535353;
$black: #1f1f1f;
$blue: #45aaf2;
$lightRed: #fc5c65;
$brilliant: #fa8231;
$orange: #ff6700;
$red: #ff3a45;


