@import "vars";
@import "mixins";

* {
  @include normalizeBorderBox();
  &:before {
    @include normalizeBorderBox();
  }
  &:after {
    @include normalizeBorderBox();
  }
}

*::-webkit-input-placeholder {
  @include normalizeBrowsers();
}

*:-moz-placeholder {
  @include normalizeBrowsers();
}

*::-moz-placeholder {
  @include normalizeBrowsers();
}

*:-ms-input-placeholder {
  @include normalizeBrowsers();
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666;
}

body input:required:valid,
body textarea:required:valid {
  color: #666
}

html, body {
  height: 100%
}

h1,h2,h3,h4,h5,h6,p,ol,ul {
  padding: 0;
  margin: 0;
}

ul,ol {
  font-size: 0;
}

::selection {
  background-color: $black;
  color: $white;
}

