

$btn-color-brilliant: $brilliant, $white, none, $orange, none, $white, $brilliant, none, $white;
$btn-color-lightRed: $lightRed, $white, none, $red, none, $white, $lightRed, none, $white;
$btn-color-outline: transparent, $brilliant, 1px solid $brilliant, transparent, 2px solid $orange, $orange,
transparent, 1px solid $brilliant, $brilliant;

@mixin btn-style(
  $colorBgDefault,
  $colorDefault,
  $borderDefault,
  $colorBgHover,
  $borderHover,
  $colorHover,
  $colorBgActive,
  $borderActive,
  $colorActive
) {
  background: $colorBgDefault;
  color: $colorDefault;
  border: $borderDefault;
  &:hover {
    background: $colorBgHover;
    border: $borderHover;
    color: $colorHover;
  }

  &:active {
    background: $colorBgActive;
    border: $borderActive;
    color: $colorActive;
  }
}

.button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  @include main-font(600);
  text-transform: uppercase;
  letter-spacing: rem(.5px);
  align-items: center;
  @include screen-lt(mobile-custom) {
    font-size: rem(12px);
  }
  &:hover {
    transition: $transitionHover;
  }
  &:active {
    transition: $transitionActive;
  }
  &__size {
    &--small {
      width:  rem(165px);
      height: rem(50px);
    }
    &--large {
      width:  rem(280px);
      height: rem(65px);
      @include screen-lt(mobile-custom) {
        width: rem(165px);
        height: rem(50px);
      }
    }
    &--full {
      width: 100%;
      height: rem(65px);
      @include screen-lt(mobile-custom) {
        height: rem(50px);
      }
    }
  }
  &__color {
    &--brilliant {
      @include btn-style($btn-color-brilliant...);
    }
    &--lightRed {
      @include btn-style($btn-color-lightRed...);
    }
    &--outline {
      @include btn-style($btn-color-outline...);
    }
  }
}

.filters__mobile {
  @include screen-lt(mobile-custom) {
    text-decoration: none;
    display: flex;
    justify-content: center;
    @include main-font(600);
    text-transform: uppercase;
    letter-spacing: rem(.5px);
    align-items: center;
    height: rem(60px);
    width: 100%;
    @include btn-style($btn-color-outline...);
    &:hover {
      transition: $transitionHover;
    }
    &:active {
      transition: $transitionActive;
    }
  }
  @include screen-lt(mobile-small) {
    height: rem(40px);
  }
}
